.contenedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19AA79;
}

.logo-menu {
    margin-left: 25px;
}
.titulo-principal {
    margin-left: 25px;
    color: white;
}

.menu {
    padding: 0;
    display: flex;
    list-style: none;
    margin-right: 25px;
}

.header-url {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    border-radius: 15%;
}

.header-url:hover {
    background-color: #1CB984;
}

.contenedor-imagen {
    background-color: #1DBF88;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}

.contenedor-imagen__img {
    width: 20%;
}

body {
    font-family: sans-serif;
    width: 1280px;
    margin: 0;
}